<!DOCTYPE html>
<html>
<head>
    <style>
        body{
            background-image:url('https://res.cloudinary.com/dmr0nlka4/image/upload/v1706027135/cam_bg_img_iei8hs.jpg');
            background-size:cover;
            color:#fff;
        }
        div{
            font-family:bree-serif;
            
            padding-top:10px;
        }

        .heading{
            color:#051D34;
        }

        h1{
            color:#051D34;
            text-align:center;
        }
        
    </style>
</head>
<body>
    <div>
        <h1 class="heading">Camera Price Prediction</h1>
        <h1>{{prediction_text}}</h1>
    </div>
</body>
</html>